<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="http://info.moxtra.com/V2/business/images/favicon.png" />
    <style>
			body {
				margin: 0;
			}

			html, body {
				height: 100%;
			}

			#moxtra-page-container, #moxtra-page-editor {
				width: 100%;
				height: 100%;
			}

			#moxtra-page-editor > div {
				position: relative;
				width: 100%;
				height: 100%;
				margin: 0;
				border: 0px;
			}
    </style>
    <title>Moxtra Pages</title>
  </head>
  <body>
    <div id="moxtra-page-container">
      <div id="moxtra-page-editor" style="display: none;"></div>
      <div id="moxtra-page-progress">
        <span>&{Moxtra.waitConversationPagePreparing}</span><span class='syncingListView'>&nbsp</span>
      </div>
      <div id="moxtra-auth" style="display: none;">
        <span>&{Moxtra.loginMoxtraHint} </span>
        <a rel="tooltip" data-placement="bottom" title="&{Moxtra.loginMoxtraHint}" href="#">&{Moxtra.loginMoxtra}</a>
      </div>
      <div id="moxtra-page-notopen" style="display: none;">
        <span>&{Moxtra.conversationPageNotOpen}</span>
      </div>
    </div>
    <!-- Moxtra JS API global and requires global jQuery -->
    <!-- script type="text/javascript" src="/portal/scripts/4.1.0/SHARED/jquery-min.js"></script -->
    <script type="text/javascript" src="/platform-extension/javascript/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="https://www.moxtra.com/api/js/moxtra-latest.js" id="moxtrajs"></script>
    <script src="/eXoResources/javascript/eXo/core/require.js"></script>
    <script type="text/javascript">
			// RequireJS initialization first
			require.config({
				baseUrl : "/moxtra/js",
				paths : {
					"jquery" : "/platform-extension/javascript/jquery-1.7.1",
					//"jqueryUI" : "/moxtra/js/jquery-ui.min",
					"jqueryPnotify" : "/moxtra/js/jquery.pnotify.min"
				},
				shim : {
					//"jqueryUI" : ["jquery"],
					"jqueryPnotify" : ["jquery"]
				},
				waitSeconds : 60
			});

			define("exo-moxtra", ["jquery", "jqueryPnotify"], function($) {// "jqueryUI",
				// hey tricky thing here: read eXo AMD exo-moxtra.js as text and eval it here to return a module
				var script = "";
				var process = $.ajax({
					async : false,
					type : "GET",
					url : "/moxtra/js/exo-moxtra.js",
					dataType : "text"
				});
				process.done(function(data) {
					script = data;
				});
				process.fail(function(jqXHR, textStatus, e) {
					console.log(textStatus + " " + e);
				});
				return eval(script);
			});

			var servicePath = "/portal/rest/moxtra/page/";
			var pageInitlzr = $.Deferred();
			var user;

			// these funcs will be called from space window
			function initUser(userName, isAuthorized, authLinkUrl) {
				user = {
					userName : userName,
					isAuthorized : isAuthorized,
					authLinkUrl : authLinkUrl // not used here
				};
			}

			function initPage(binderId, pageId) {
				//var query = "?binderId=" + binderId + "&pageId=" + pageId;
				setTimeout(function() {
					location.pathname = servicePath + binderId + "/" + pageId;
				}, 500);
				// This not required as the page window should be reloaded by path change
				//pageInitlzr.resolve(binderId, pageId);
			}

			// deprecated, not used as server-side hash not available (in login redirect)
			function initPage_hash(binderId, pageId) {
				pageInitlzr.resolve(binderId, pageId);
				var hash = "#" + binderId + "/" + pageId;
				if (history.pushState) {
					history.pushState(null, null, hash);
				} else {
					location.hash = hash;
				}
			}

			$(function() {
				// check if URL hash has binderId/pageId, use it to show the page
				// otherwise wait until it will be initialized from external
				require(["exo-moxtra"], function(exoMoxtra) {
					exoMoxtra.moxtrajs(Moxtra);

					function showPage(binderId, pageId) {
						var $progress = $("#moxtra-page-progress");
						if (!exoMoxtra.isAuthorized()) {
							if (user && user.isAuthorized) {
								exoMoxtra.initUser(user.userName, user.isAuthorized, null);
							} else {
								var $auth = $("#moxtra-auth");
								$auth.each(function(i, e) {
									$progress.hide();
									$auth.show();
									$(e).find("a").click(function() {
										var auth = exoMoxtra.authorize();
										auth.done(function(authData) {
											$auth.hide();
											$progress.show();
											showPage(binderId, pageId);
										});
										auth.fail(function(error) {
											if (error != "Canceled") {
												alert(error);
											}
										});
									});
								});
							}
						}
						if ($progress.is(":visible")) {
							var process = exoMoxtra.initPage(binderId, pageId);
							process.done(function() {
								$("#moxtra-page-editor>div").removeAttr("style");
							});
						}
					}

					// extract binder and page ids from query string
					// function getQueryParam(name) {
					// var match = RegExp('[?&]' + name + '=([^&]*)').exec(location.search);
					// return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
					// }
					// var qBinderId = getQueryParam("binderId");
					// var qPageId = getQueryParam("pageId");
					// extract binder and page ids from the path
					var pBinderId;
					var pPageId;
					var pagePath = location.pathname;
					var si = pagePath.indexOf(servicePath);
					if (si == 0) {
						pagePath = pagePath.slice(servicePath.length);
					}
					var pe = pagePath.split("/");
					if (pe.length >= 2) {
						pBinderId = pe[0];
						pPageId = pe[1];
					}
					if (pBinderId && pPageId) {
						//var he = location.hash.split("/");
						//var binderId = he[0];
						//var hi = binderId.indexOf("#");
						//if (hi == 0) {
						//	binderId = binderId.slice(1);
						//}
						//var pageId = he[1];
						showPage(pBinderId, pPageId);
					} else {
						pageInitlzr.done(function(binderId, pageId) {
							// need some delay to let Moxtra JS API prepare
							setTimeout(function() {
								showPage(binderId, pageId);
							}, 1000);
						});
					}
				});
			});
    </script>
  </body>
</html>
