/** 
 * CSS dedicated to MoxtraBinderSpace portlet.
 */
#moxtra-binder-settings-button, #moxtra-auth-button {
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.moxtraPages {
	margin-left: 0px;
}