/** 
 * CSS dedicated to MoxtraBinderSpace portlet.
 */
#moxtra-binder-settings-button, #moxtra-auth-button {
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.moxtraPages {
	margin-left: 0px;
}

.meetParticipantsTitle {
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.meetTime input {
	width: 160px;
	height: 30px;
}

.meetCreating {
	position: relative;
	top: 20%;
	cursor: wait;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.waitThrobber {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: auto;
	margin-left: auto;
	pointer-events: none;
	background: url('/moxtra/skin/icons/oxygen/32/animations/throbber.gif')
		no-repeat left center !important; /* orientation=lt */
	background: url('/moxtra/skin/icons/oxygen/32/animations/throbber.gif')
		no-repeat right center !important; /* orientation=rt */
}