/** 
 * CSS dedicated to MoxtraBinderSpace portlet.
 */
#moxtra-binder-settings-button, #moxtra-auth-button {
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

.meetMessage {
	padding: 5px;
}

.binderViewButton, .binderViewButton>a {
	position: relative;
	display: inline-block;
}

.binderSelector>select {
	width: 200px;
}

.moxtraPages {
	margin-left: 0px;
}

.meetParticipantsTitle {
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.meetTime input {
	width: 160px;
	height: 30px;
}

.meetCreating, .meetCreated {
	position: relative;
	top: 30%;
	width: 100%;
	height: 300px;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.meetCreating {
	cursor: wait;
}

.waitThrobber {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: auto;
	margin-left: auto;
	pointer-events: none;
	background: url('/moxtra/skin/icons/oxygen/32/animations/throbber.gif')
		no-repeat left center !important; /* orientation=lt */
	background: url('/moxtra/skin/icons/oxygen/32/animations/throbber.gif')
		no-repeat right center !important; /* orientation=rt */
}

.meetInfo {
	position: relative;
	top: 10%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: left;
}

.meetLink, .meetLink>a, .meetEvent, .meetEvent>a {
	display: inline-block;
}